*.[oa]
*~
*.pyc
*.sublime-project
*.sublime-workspace
.DS_store
analysis/*
data/*
logs/*
misc/*
plotter/plots
temperatureLogs
tempteratureControl/old_temperatureLogs
logs_annealing/output
annealing-studies-plotter/*
temperature_management/temperature_logs
old/annealing-studies-plotter
old/old_Test_new_gcdmos
.vscode
